@charset "UTF-8";
:export {
  menuText: #bfcbd9;
  menuActiveText: #409EFF;
  subMenuActiveText: #f4f4f5;
  menuBg: #304156;
  menuHover: #263445;
  subMenuBg: #1f2d3d;
  subMenuHover: #001528;
  sideBarWidth: 210px;
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.fadeup-enter-active {
  transition: all .5s;
}

.fadeup-leave-active {
  transition: all .5s;
}

.fadeup-enter {
  opacity: 0;
  transform: translateY(30px);
}

.fadeup-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.fadein-msg-enter-active {
  transition: all .5s;
}

.fadein-msg-leave-active {
  transition: all .5s;
}

.fadein-msg-enter {
  opacity: 0;
  transform: translateY(-30px);
}

.fadein-msg-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload input[type="file"] {
  display: none !important;
}

.el-upload__input {
  display: none;
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
  width: 800px;
  max-width: 95%;
}

.el-dialog__body {
  padding: 10px 20px;
}

.upload-container .el-upload {
  width: 100%;
}

.upload-container .el-upload .el-upload-dragger {
  width: 100%;
  height: 200px;
}

.el-dropdown-menu a {
  display: block;
}

.el-range-separator {
  box-sizing: content-box;
}

#app .main-container {
  min-height: 100%;
  transition: margin-left .28s;
  margin-left: 210px;
  position: relative;
}

#app .sidebar-container {
  transition: width 0.28s;
  width: 210px !important;
  background-color: #304156;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}

#app .sidebar-container .horizontal-collapse-transition {
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}

#app .sidebar-container .scrollbar-wrapper {
  overflow-x: hidden !important;
}

#app .sidebar-container .el-scrollbar__bar.is-vertical {
  right: 0px;
}

#app .sidebar-container .el-scrollbar {
  height: 100%;
}

#app .sidebar-container.has-logo .el-scrollbar {
  height: calc(100% - 50px);
}

#app .sidebar-container .is-horizontal {
  display: none;
}

#app .sidebar-container a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

#app .sidebar-container .svg-icon {
  margin-right: 16px;
}

#app .sidebar-container .sub-el-icon {
  margin-right: 12px;
  margin-left: -2px;
}

#app .sidebar-container .el-menu {
  border: none;
  height: 100%;
  width: 100% !important;
}

#app .sidebar-container .submenu-title-noDropdown:hover,
#app .sidebar-container .el-submenu__title:hover {
  background-color: #263445 !important;
}

#app .sidebar-container .is-active > .el-submenu__title {
  color: #f4f4f5 !important;
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
#app .sidebar-container .el-submenu .el-menu-item {
  min-width: 210px !important;
  background-color: #1f2d3d !important;
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title:hover,
#app .sidebar-container .el-submenu .el-menu-item:hover {
  background-color: #001528 !important;
}

#app .hideSidebar .sidebar-container {
  width: 54px !important;
}

#app .hideSidebar .main-container {
  margin-left: 54px;
}

#app .hideSidebar .submenu-title-noDropdown {
  padding: 0 !important;
  position: relative;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
  padding: 0 !important;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip .svg-icon {
  margin-left: 20px;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip .sub-el-icon {
  margin-left: 19px;
}

#app .hideSidebar .el-submenu {
  overflow: hidden;
}

#app .hideSidebar .el-submenu > .el-submenu__title {
  padding: 0 !important;
}

#app .hideSidebar .el-submenu > .el-submenu__title .svg-icon {
  margin-left: 20px;
}

#app .hideSidebar .el-submenu > .el-submenu__title .sub-el-icon {
  margin-left: 19px;
}

#app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

#app .hideSidebar .el-menu--collapse .el-submenu > .el-submenu__title > span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}

#app .el-menu--collapse .el-menu .el-submenu {
  min-width: 210px !important;
}

#app .mobile .main-container {
  margin-left: 0px;
}

#app .mobile .sidebar-container {
  transition: transform .28s;
  width: 210px !important;
}

#app .mobile.hideSidebar .sidebar-container {
  pointer-events: none;
  transition-duration: 0.3s;
  transform: translate3d(-210px, 0, 0);
}

#app .withoutAnimation .main-container,
#app .withoutAnimation .sidebar-container {
  transition: none;
}

.el-menu--vertical > .el-menu .svg-icon {
  margin-right: 16px;
}

.el-menu--vertical > .el-menu .sub-el-icon {
  margin-right: 12px;
  margin-left: -2px;
}

.el-menu--vertical .nest-menu .el-submenu > .el-submenu__title:hover,
.el-menu--vertical .el-menu-item:hover {
  background-color: #263445 !important;
}

.el-menu--vertical > .el-menu--popup {
  max-height: 100vh;
  overflow-y: auto;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar-track-piece {
  background: #d3dce6;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar {
  width: 6px;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar-thumb {
  background: #99a9bf;
  border-radius: 20px;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.app-container {
  padding: 20px;
  position: relative;
}

.p-message-area {
  width: 250px;
  padding: 20px 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fefefe;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px 1px #ddd;
  border-left: 4px solid #409EFF;
}

.p-message-area.error {
  border-left: 4px solid #ff4343;
}

.p-message-area p {
  margin: 0;
}

/* ================================
# base
=================================*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* ================================
# Layout
=================================*/
.l-home {
  padding: 20px;
}

.l-userfront {
  margin: 0 auto;
  padding: 50px 50px 100px;
}

@media screen and (max-width: 768px) {
  .l-userfront {
    padding: 20px 10px 100px;
  }
}

.l-container {
  max-width: 1000px;
  margin: 0 auto;
  width: 95%;
}

/* ================================
# Utility
=================================*/
.c-hide {
  display: none;
}

.u-disable {
  background-color: #ddd !important;
}

.u-disable input {
  pointer-events: none;
  background-color: #eee;
}

.u-ml0 {
  margin-left: 0 !important;
}

.u-m0 {
  margin: 0 !important;
}

.u-mb5 {
  margin-bottom: 5px;
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-mb15 {
  margin-bottom: 15px;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-mb25 {
  margin-bottom: 25px;
}

.u-mb30 {
  margin-bottom: 30px;
}

.u-mb35 {
  margin-bottom: 35px;
}

.u-mb40 {
  margin-bottom: 40px;
}

.u-mb45 {
  margin-bottom: 45px;
}

.u-mb50 {
  margin-bottom: 50px;
}

.u-mb55 {
  margin-bottom: 55px;
}

.u-mb60 {
  margin-bottom: 60px;
}

.u-mb65 {
  margin-bottom: 65px;
}

.u-mb70 {
  margin-bottom: 70px;
}

.u-mb75 {
  margin-bottom: 75px;
}

.u-mb80 {
  margin-bottom: 80px;
}

.u-mb85 {
  margin-bottom: 85px;
}

.u-mb90 {
  margin-bottom: 90px;
}

.u-mb95 {
  margin-bottom: 95px;
}

.u-mb100 {
  margin-bottom: 100px;
}

.u-mb105 {
  margin-bottom: 105px;
}

.u-mb110 {
  margin-bottom: 110px;
}

.u-mb115 {
  margin-bottom: 115px;
}

.u-mb120 {
  margin-bottom: 120px;
}

.u-mb125 {
  margin-bottom: 125px;
}

.u-mb130 {
  margin-bottom: 130px;
}

.u-mb135 {
  margin-bottom: 135px;
}

.u-mb140 {
  margin-bottom: 140px;
}

.u-mb145 {
  margin-bottom: 145px;
}

.u-mb150 {
  margin-bottom: 150px;
}

.u-mb05em {
  margin-bottom: 0.5em;
}

.u-mb10em {
  margin-bottom: 1.0em;
}

.u-mb15em {
  margin-bottom: 1.5em;
}

.u-mb20em {
  margin-bottom: 2.0em;
}

.u-mb25em {
  margin-bottom: 2.5em;
}

.u-mb30em {
  margin-bottom: 3.0em;
}

@media (min-width: 768px) and (max-width: 960px) {
  .u-pc_only {
    display: none;
  }
  .u-tb_only {
    display: inherit;
  }
  .u-sp_only {
    display: none;
  }
  .u-tb_pc, .u-sp_tb {
    display: inherit;
  }
}

@media (max-width: 767px) {
  .u-pc_only, .u-tb_only {
    display: none;
  }
  .u-sp_only {
    display: inherit;
  }
  .u-tb_pc {
    display: none;
  }
  .u-sp_tb {
    display: inherit;
  }
  #u-map {
    padding-top: 250px;
  }
  .u-noshrink {
    flex: 1 1 auto;
    text-align: center;
  }
  .u-mb5 {
    margin-bottom: calc( 5  / 750 * 100vw);
  }
  .u-mb10 {
    margin-bottom: calc( 10 / 750 * 100vw);
  }
  .u-mb15 {
    margin-bottom: calc( 15 / 750 * 100vw);
  }
  .u-mb20 {
    margin-bottom: calc( 20 / 750 * 100vw);
  }
  .u-mb25 {
    margin-bottom: calc( 25 / 750 * 100vw);
  }
  .u-mb30 {
    margin-bottom: calc( 30 / 750 * 100vw);
  }
  .u-mb35 {
    margin-bottom: calc( 35 / 750 * 100vw);
  }
  .u-mb40 {
    margin-bottom: calc( 40 / 750 * 100vw);
  }
  .u-mb45 {
    margin-bottom: calc( 45 / 750 * 100vw);
  }
  .u-mb50 {
    margin-bottom: calc( 50 / 750 * 100vw);
  }
  .u-mb55 {
    margin-bottom: calc( 55 / 750 * 100vw);
  }
  .u-mb60 {
    margin-bottom: calc( 60 / 750 * 100vw);
  }
  .u-mb65 {
    margin-bottom: calc( 65 / 750 * 100vw);
  }
  .u-mb70 {
    margin-bottom: calc( 70 / 750 * 100vw);
  }
  .u-mb75 {
    margin-bottom: calc( 75 / 750 * 100vw);
  }
  .u-mb80 {
    margin-bottom: calc( 80 / 750 * 100vw);
  }
  .u-mb85 {
    margin-bottom: calc( 85 / 750 * 100vw);
  }
  .u-mb90 {
    margin-bottom: calc( 90 / 750 * 100vw);
  }
  .u-mb95 {
    margin-bottom: calc( 95 / 750 * 100vw);
  }
  .u-mb100 {
    margin-bottom: calc(100 / 750 * 100vw);
  }
  .u-mb105 {
    margin-bottom: calc(105 / 750 * 100vw);
  }
  .u-mb110 {
    margin-bottom: calc(110 / 750 * 100vw);
  }
  .u-mb115 {
    margin-bottom: calc(115 / 750 * 100vw);
  }
  .u-mb120 {
    margin-bottom: calc(120 / 750 * 100vw);
  }
  .u-mb125 {
    margin-bottom: calc(125 / 750 * 100vw);
  }
  .u-mb130 {
    margin-bottom: calc(130 / 750 * 100vw);
  }
  .u-mb135 {
    margin-bottom: calc(135 / 750 * 100vw);
  }
  .u-mb140 {
    margin-bottom: calc(140 / 750 * 100vw);
  }
  .u-mb145 {
    margin-bottom: calc(145 / 750 * 100vw);
  }
  .u-mb150 {
    margin-bottom: calc(150 / 750 * 100vw);
  }
}

/* ================================
# component
=================================*/
.c-title-wrap {
  text-align: center;
}

.c-title {
  display: inline-block;
  position: relative;
  z-index: 0;
}

.c-title.underline::after {
  content: '';
  width: 100%;
  height: 10px;
  background-color: #f4ff55;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.c-title.border {
  padding: 8px 10px;
  border: 2px solid #4d4d4d;
}

.c-comment {
  position: relative;
  padding: 5px 10px 10px 5px;
  background-color: #507798;
  color: #fff;
  border-radius: 10px;
  margin-top: 0;
  font-size: 12px;
}

.c-comment::before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  bottom: -9px;
  left: 20px;
  margin-left: 0;
  background-color: #507798;
  border-radius: 0 50px 0 50px;
  z-index: -1;
}

.c-comment::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  bottom: -15px;
  left: 30px;
  margin-left: 0;
  background-color: #fff;
  border-radius: 0 50px 0 50px;
  z-index: -1;
  transform: rotate(30deg);
}

.c-comment > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

.c-comment > span {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  width: calc(100% - 55px);
  width: -webkit-calc(100% - 55px);
}

/* ================================
# 四角ボタン コンポーネント
=================================*/
.c-btn {
  border: none;
  padding: 5px 15px;
  background: #147aff;
  text-align: center;
  border-radius: 30px;
  color: #f1f1f1;
  font-size: 14px;
}

.c-btn:hover {
  opacity: .85;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .c-btn {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
  }
}

.c-btn__square-soft {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #262626;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#dcdcdc));
  background: linear-gradient(#f0f0f0 0%, #dcdcdc 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.c-btn__square-soft:active {
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  /*沈むように*/
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#dcdcdc));
  background-image: linear-gradient(#f0f0f0 0%, #dcdcdc 100%);
  /*グラデーションを明るく*/
}

.c-btn__arrow-b {
  position: relative;
  width: 140px;
}

.c-btn__arrow-b:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transform-origin: center center 0;
  right: 8px;
}

.c-btn__arrow-b.active:after {
  content: url("../assets/img/loading.png");
  -webkit-animation: rotate-btn .25s ease-in-out infinite;
  animation: rotate-btn .25s ease-in-out infinite;
}

.c-btn__arrow-b.disable {
  background-color: #ddd;
  border: none;
  pointer-events: none;
}

/* ================================
# ボタンアニメーション  
=================================*/
@-webkit-keyframes rotate-btn {
  0% {
    -webkit-transform: translateY(-50%) rotate(0);
    transform-origin: center center 0;
  }
  25% {
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform-origin: center center 0;
  }
  50% {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform-origin: center center 0;
  }
  75% {
    -webkit-transform: translateY(-50%) rotate(270deg);
    transform-origin: center center 0;
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(360deg);
    transform-origin: center center 0;
  }
}

@keyframes rotate-btn {
  0% {
    -webkit-transform: translateY(-50%) rotate(0);
    transform-origin: center center 0;
  }
  25% {
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform-origin: center center 0;
  }
  50% {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform-origin: center center 0;
  }
  75% {
    -webkit-transform: translateY(-50%) rotate(270deg);
    transform-origin: center center 0;
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(360deg);
    transform-origin: center center 0;
  }
}

.c-shiny-btn1 {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.c-shiny-btn1:hover {
  text-decoration: none;
  color: #fff;
}

.c-shiny-btn1::before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  -webkit-animation: shiny-btn 3s ease-in-out infinite;
  animation: shiny-btn 3s ease-in-out infinite;
}

@-webkit-keyframes shiny-btn {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes shiny-btn {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* ================================
# フォームコントロール　初期化
=================================*/
/* =========type="text" テキスト============
<input class="text-init" type="text">
===========================================*/
input.text-init {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  /* border: 1px solid rgba(0, 0, 0, 0.16); */
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  text-align: right;
  /* font-size: 1em; */
  padding: 0.4em 0.8em;
  width: 100%;
}

input.text-init:focus {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

/* =========textarea　テキストエリア============
<textarea class="textarea-init"></textarea>
===============================================*/
textarea.textarea-init {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  /* font-size: 1em; */
  height: 213px;
  padding: 0.4em 0.8em;
  width: 100%;
}

textarea.textarea-init:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
